.md-header,
.md-header__inner,
.md-tabs {
  background: #000000 !important;
  background-color: #000000 !important;
  background-image: none !important;
}

.md-header {
  border-bottom: 5px solid red !important;
}
